---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(longDescription=sennheiser*)?apiKey=2v9544cdrmkr5shgffdvn4j6&format=json&pageSize=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 131,
          "currentPage": 1,
          "totalPages": 9,
          "queryTime": "0.005",
          "totalTime": "0.077",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\")?format=json&apiKey=2v9544cdrmkr5shgffdvn4j6",
          "products": [
            {
              "sku": 9678429,
              "productId": 1219427389475,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "source": "other",
              "type": "HardGood",
              "startDate": "2014-10-24",
              "new": false,
              "active": true,
              "lowPriceGuarantee": true,
              "activeUpdateDate": "2016-02-01T18:10:18",
              "regularPrice": 629.95,
              "salePrice": 629.95,
              "onSale": false,
              "planPrice": null,
              "priceWithPlan": [

              ],
              "priceRestriction": null,
              "priceUpdateDate": "2015-05-22T09:59:48",
              "digital": false,
              "preowned": false,
              "carrierPlans": [

              ],
              "technologyCode": null,
              "carrierModelNumber": null,
              "earlyTerminationFees": [

              ],
              "outletCenter": null,
              "secondaryMarket": null,
              "frequentlyPurchasedWith": [

              ],
              "accessories": [

              ],
              "relatedProducts": [
                {
                  "sku": 9678447
                },
                {
                  "sku": 1725436
                },
                {
                  "sku": 9680166
                },
                {
                  "sku": 9678456
                },
                {
                  "sku": 6484146
                },
                {
                  "sku": 9678483
                },
                {
                  "sku": 4331415
                },
                {
                  "sku": 6913998
                },
                {
                  "sku": 6748261
                },
                {
                  "sku": 8771086
                },
                {
                  "sku": 1535364
                },
                {
                  "sku": 1528005
                },
                {
                  "sku": 1535355
                },
                {
                  "sku": 1729876
                },
                {
                  "sku": 4896037
                },
                {
                  "sku": 1736046
                },
                {
                  "sku": 1725652
                },
                {
                  "sku": 4530014
                },
                {
                  "sku": 6748359
                }
              ],
              "techSupportPlans": [

              ],
              "salesRankShortTerm": null,
              "salesRankMediumTerm": null,
              "salesRankLongTerm": null,
              "bestSellingRank": null,
              "url": "http://www.bestbuy.com/site/sennheiser-camera-mount-wireless-microphone-system-black/9678429.p?id=1219427389475&skuId=9678429",
              "spin360Url": null,
              "mobileUrl": "http://www.bestbuy.com/site/sennheiser-camera-mount-wireless-microphone-system-black/9678429.p?id=1219427389475&skuId=9678429",
              "affiliateUrl": null,
              "addToCartUrl": "http://www.bestbuy.com/site/olspage.jsp?id=pcmcat152200050035&type=category&cmp=RMX&ky=1wVyi51lGg8EleFnEA1p3089v5bSeZGwS&qvsids=9678429",
              "affiliateAddToCartUrl": null,
              "linkShareAffiliateUrl": "",
              "linkShareAffiliateAddToCartUrl": "",
              "upc": "615104153868",
              "productTemplate": "Dynamic_Microphones",
              "categoryPath": [
                {
                  "id": "cat00000",
                  "name": "Best Buy"
                },
                {
                  "id": "abcat0400000",
                  "name": "Cameras & Camcorders"
                },
                {
                  "id": "abcat0410022",
                  "name": "Camcorder Accessories"
                },
                {
                  "id": "pcmcat258000050011",
                  "name": "Microphones"
                }
              ],
              "lists": [

              ],
              "customerReviewCount": null,
              "customerReviewAverage": null,
              "customerTopRated": false,
              "format": null,
              "freeShipping": true,
              "freeShippingEligible": true,
              "inStoreAvailability": false,
              "inStoreAvailabilityText": "Store Pickup: Not Available",
              "inStoreAvailabilityUpdateDate": "2016-02-01T18:10:18",
              "itemUpdateDate": "2016-03-04T12:09:19",
              "onlineAvailability": true,
              "onlineAvailabilityText": "Shipping: Usually ships in 2 business days",
              "onlineAvailabilityUpdateDate": "2016-02-01T18:10:18",
              "releaseDate": null,
              "shippingCost": 0.00,
              "shipping": [
                {
                  "ground": 0.00,
                  "secondDay": 14.99,
                  "nextDay": 21.99,
                  "vendorDelivery": ""
                }
              ],
              "shippingLevelsOfService": [
                {
                  "serviceLevelId": 1,
                  "serviceLevelName": "Standard",
                  "unitShippingPrice": 0.00
                },
                {
                  "serviceLevelId": 3,
                  "serviceLevelName": "Expedited",
                  "unitShippingPrice": 14.99
                },
                {
                  "serviceLevelId": 5,
                  "serviceLevelName": "Express",
                  "unitShippingPrice": 21.99
                }
              ],
              "specialOrder": false,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated display; 4-level battery indicator; 626-668MHz frequency range",
              "class": "DIGITAL CAMERA ACCY",
              "classId": 56,
              "subclass": "SO CAMERA ACCY",
              "subclassId": 708,
              "department": "PHOTO/COMMODITIES",
              "departmentId": 5,
              "buybackPlans": [

              ],
              "protectionPlans": [

              ],
              "productFamilies": [

              ],
              "description": null,
              "manufacturer": "Sennheiser",
              "modelNumber": "EW 112P G3-B",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9678/9678429_sa.jpg",
              "largeFrontImage": "http://img.bbystatic.com/BestBuy_US/images/products/9678/9678429_sa.jpg",
              "mediumImage": "http://images.bestbuy.com/BestBuy_US/images/products/9678/9678429fp.gif",
              "thumbnailImage": "http://images.bestbuy.com/BestBuy_US/images/products/9678/9678429_s.gif",
              "largeImage": "http://images.bestbuy.com/BestBuy_US/images/products/9678/9678429_sb.jpg",
              "alternateViewsImage": null,
              "angleImage": null,
              "backViewImage": null,
              "energyGuideImage": null,
              "leftViewImage": null,
              "accessoriesImage": null,
              "remoteControlImage": null,
              "rightViewImage": null,
              "topViewImage": null,
              "condition": "New",
              "inStorePickup": false,
              "friendsAndFamilyPickup": false,
              "homeDelivery": false,
              "quantityLimit": 3,
              "fulfilledBy": "BestBuy.com",
              "bundledIn": [

              ],
              "color": "Black",
              "depth": "1\"",
              "dollarSavings": 0.00,
              "percentSavings": "0.0",
              "tradeInValue": "",
              "height": "4\"",
              "orderable": "Available",
              "weight": "0.9 pounds",
              "shippingWeight": "2.43",
              "width": "3\"",
              "warrantyLabor": "2 years",
              "warrantyParts": "2 years",
              "longDescription": "This Sennheiser EW 112P G3-B camera-mount wireless microphone system features a sturdy metal housing for use in rough environments. The easy-to-read illuminated dot-matrix display allows simple use in multiple lighting conditions.  CONSUMER ALERT Most users do not need a license to operate this wireless microphone system. Nevertheless, operating this microphone system without a license is subject to certain restrictions: the system may not cause harmful interference; it must operate at a low power level (not in excess of 50 milliwatts); and it has no protection from interference received from any other device. Purchasers should also be aware that the FCC is currently evaluating use of wireless microphone systems, and these rules are subject to change. For more information, call the FCC at 1-888-CALL-FCC (TTY: 1-888-TELL-FCC) or visit the FCC's wireless microphone website at www.fcc.gov/cgb/wirelessmicrophones",
              "includedItemList": [
                {
                  "includedItem": "SK 100 G3 bodypack transmitter, ME 2 omnidirectional clip-on microphone, EK 100 G3 diversity camera receiver"
                },
                {
                  "includedItem": "CL1 1/8\" output cable, CL 100 XLR unbalanced output cable, CA 2 camera mount"
                },
                {
                  "includedItem": "Owner's manual"
                }
              ],
              "marketplace": false,
              "listingId": null,
              "sellerId": null,
              "shippingRestrictions": null
            },
            {
              "sku": 9678447,
              "productId": 1219427393990,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "source": "other",
              "type": "HardGood",
              "startDate": "2014-10-23",
              "new": false,
              "active": true,
              "lowPriceGuarantee": true,
              "activeUpdateDate": "2016-02-01T17:59:36",
              "regularPrice": 629.95,
     [...]
