---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(longDescription=sennheiser*&longDescription=headphones*&longDescription=white*)?apiKey=2v9544cdrmkr5shgffdvn4j6&format=json&pageSize=15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 6,
          "total": 6,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.016",
          "totalTime": "0.054",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\"&longDescription=\"headphones*\"&longDescription=\"white*\")?format=json&apiKey=2v9544cdrmkr5shgffdvn4j6",
          "products": [
            {
              "sku": 9068191,
              "productId": 1219389051768,
              "name": "Sennheiser - CX 1.00 Earbud Headphones - White",
              "source": "other",
              "type": "HardGood",
              "startDate": "2014-11-05",
              "new": false,
              "active": true,
              "lowPriceGuarantee": true,
              "activeUpdateDate": "2016-02-01T15:55:52",
              "regularPrice": 44.95,
              "salePrice": 44.95,
              "onSale": false,
              "planPrice": null,
              "priceWithPlan": [

              ],
              "priceRestriction": null,
              "priceUpdateDate": "2014-09-04T13:23:57",
              "digital": false,
              "preowned": false,
              "carrierPlans": [

              ],
              "technologyCode": null,
              "carrierModelNumber": null,
              "earlyTerminationFees": [

              ],
              "outletCenter": null,
              "secondaryMarket": null,
              "frequentlyPurchasedWith": [

              ],
              "accessories": [

              ],
              "relatedProducts": [
                {
                  "sku": 9068146
                },
                {
                  "sku": 9068004
                },
                {
                  "sku": 9068022
                },
                {
                  "sku": 9068119
                },
                {
                  "sku": 9068013
                },
                {
                  "sku": 9068128
                },
                {
                  "sku": 9068155
                },
                {
                  "sku": 9068182
                },
                {
                  "sku": 9068173
                },
                {
                  "sku": 9068137
                },
                {
                  "sku": 9068164
                },
                {
                  "sku": 9068031
                },
                {
                  "sku": 4039134
                },
                {
                  "sku": 1997611
                },
                {
                  "sku": 9068301
                },
                {
                  "sku": 9068329
                },
                {
                  "sku": 7405222
                },
                {
                  "sku": 1433226
                },
                {
                  "sku": 2569187
                }
              ],
              "techSupportPlans": [

              ],
              "salesRankShortTerm": null,
              "salesRankMediumTerm": null,
              "salesRankLongTerm": null,
              "bestSellingRank": null,
              "url": "http://www.bestbuy.com/site/sennheiser-cx-1-00-earbud-headphones-white/9068191.p?id=1219389051768&skuId=9068191",
              "spin360Url": null,
              "mobileUrl": "http://www.bestbuy.com/site/sennheiser-cx-1-00-earbud-headphones-white/9068191.p?id=1219389051768&skuId=9068191",
              "affiliateUrl": null,
              "addToCartUrl": "http://www.bestbuy.com/site/olspage.jsp?id=pcmcat152200050035&type=category&cmp=RMX&ky=1wVyi51lGg8EleFnEA1p3089v5bSeZGwS&qvsids=9068191",
              "affiliateAddToCartUrl": null,
              "linkShareAffiliateUrl": "",
              "linkShareAffiliateAddToCartUrl": "",
              "upc": "615104259775",
              "productTemplate": "Headphones",
              "categoryPath": [
                {
                  "id": "cat00000",
                  "name": "Best Buy"
                },
                {
                  "id": "abcat0200000",
                  "name": "Audio"
                },
                {
                  "id": "abcat0204000",
                  "name": "Headphones"
                },
                {
                  "id": "pcmcat143000050007",
                  "name": "Earbud & In-Ear Headphones"
                }
              ],
              "lists": [

              ],
              "customerReviewCount": null,
              "customerReviewAverage": null,
              "customerTopRated": false,
              "format": null,
              "freeShipping": true,
              "freeShippingEligible": true,
              "inStoreAvailability": false,
              "inStoreAvailabilityText": "Store Pickup: Not Available",
              "inStoreAvailabilityUpdateDate": "2016-02-01T15:55:52",
              "itemUpdateDate": "2016-02-25T03:50:05",
              "onlineAvailability": true,
              "onlineAvailabilityText": "Shipping: Usually ships in 2 business days",
              "onlineAvailabilityUpdateDate": "2016-02-01T15:55:52",
              "releaseDate": null,
              "shippingCost": 0.00,
              "shipping": [
                {
                  "ground": 0.00,
                  "secondDay": 13.99,
                  "nextDay": 22.99,
                  "vendorDelivery": ""
                }
              ],
              "shippingLevelsOfService": [
                {
                  "serviceLevelId": 1,
                  "serviceLevelName": "Standard",
                  "unitShippingPrice": 0.00
                },
                {
                  "serviceLevelId": 3,
                  "serviceLevelName": "Expedited",
                  "unitShippingPrice": 13.99
                },
                {
                  "serviceLevelId": 5,
                  "serviceLevelName": "Express",
                  "unitShippingPrice": 22.99
                }
              ],
              "specialOrder": false,
              "shortDescription": "SENNHEISER CX 1.00 Earbud Headphones: Noise-blocking design; dynamic transducer principle; ultrasmall design; 3.5mm connector; 3.9' cable; includes 4 sizes of ear adapters",
              "class": "HEADPHONES",
              "classId": 16,
              "subclass": "SO HEADPHONE MP3 SPK",
              "subclassId": 2567,
              "department": "AUDIO",
              "departmentId": 1,
              "buybackPlans": [

              ],
              "protectionPlans": [

              ],
              "productFamilies": [

              ],
              "description": null,
              "manufacturer": "Sennheiser",
              "modelNumber": "CX 1.00 WHITE",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9068/9068191_sa.jpg",
              "largeFrontImage": "http://img.bbystatic.com/BestBuy_US/images/products/9068/9068191_sa.jpg",
              "mediumImage": "http://images.bestbuy.com/BestBuy_US/images/products/9068/9068191fp.gif",
              "thumbnailImage": "http://images.bestbuy.com/BestBuy_US/images/products/9068/9068191_s.gif",
              "largeImage": "http://images.bestbuy.com/BestBuy_US/images/products/9068/9068191_sb.jpg",
              "alternateViewsImage": null,
              "angleImage": null,
              "backViewImage": null,
              "energyGuideImage": null,
              "leftViewImage": null,
              "accessoriesImage": null,
              "remoteControlImage": null,
              "rightViewImage": null,
              "topViewImage": null,
              "condition": "New",
              "inStorePickup": false,
              "friendsAndFamilyPickup": false,
              "homeDelivery": false,
              "quantityLimit": null,
              "fulfilledBy": "BestBuy.com",
              "bundledIn": [

              ],
              "color": "White",
              "depth": null,
              "dollarSavings": 0.00,
              "percentSavings": "0.0",
              "tradeInValue": "",
              "height": null,
              "orderable": "Available",
              "weight": null,
              "shippingWeight": "0.12",
              "width": null,
              "warrantyLabor": "None",
              "warrantyParts": "2 years",
              "longDescription": "Enjoy your music with these Sennheiser CX 1.00 WHITE earbud headphones, which feature a noise-blocking design that helps eliminate distractions, so you can focus on audio playback. The ultrasmall design ensures a comfortable fit.",
              "includedItemList": [
                {
                  "includedItem": "CX 1.00 Earbud Headphones"
                },
                {
                  "includedItem": "4 sizes of ear adapters (XS, S, M, L)"
                }
              ],
              "marketplace": false,
              "listingId": null,
              "sellerId": null,
              "shippingRestrictions": null
            },
            {
              "sku": 9068155,
              "productId": 1219389052825,
              "name": "Sennheiser - CX 2.00G Earbud Headphones - White",
              "source": "other",
              "type": "HardGood",
              "startDate": "2014-11-05",
              "new": false,
              "active": true,
              "lowPriceGuarantee": false,
              "activeUpdateDate": "2016-02-01T15:20:57",
              "regularPrice": 54.95,
              "sal[...]
